<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587589024543-dnte0hkvr0jn0roke21molb6iple0d5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587589024543-dnte0hkvr0jn0roke21molb6iple0d5r</string>
	<key>API_KEY</key>
	<string>AIzaSyDwpZhH4DrVQx5uCe3dMvuPwSJglgjio4U</string>
	<key>GCM_SENDER_ID</key>
	<string>587589024543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kh.eirs.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>imei-kh</string>
	<key>STORAGE_BUCKET</key>
	<string>imei-kh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587589024543:ios:3f585cb494cf938e8b0e2a</string>
</dict>
</plist>